



.lose-game {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #cc2f2a, #fe8686, #ffadad);
}

.lose-title_container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 120px;
    background: linear-gradient(135deg, #cc2f2a, #fe8686, #ffadad);
}

.lose-game_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background-color: #FFF;
}


.lose-title_container h2 {
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    .lose-game_container {
        background: linear-gradient(135deg, #cc2f2a, #fe8686, #ffadad);
    }

    .lose-title_container {
        background: initial;
    }
}