



.lose-game {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #FFD700, #FFB84D, #FFF1B0);
}

.lose-game_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background-color: #FFF;
}

.link-init_container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 10%;
    font-family: 'Poppins', sans-serif;
}

.win-game_container h2 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 768px) {
    .win-game_container {
        background: linear-gradient(135deg, #FFD700, #FFB84D, #FFF1B0);
    }
}