

.link-init_container {
    display: grid;
    place-items: center;
    gap: 10px;
    width: 100%;
    height: 10%;
    font-family: 'Poppins', sans-serif;
}

.link-init_container p {
    align-self: flex-end;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.link-init_container a {
    align-self: start;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
