

.question-container, .assert-container, .fail-container {
    display: grid;
    place-items: center;
    width: 90%;
    height: 30%;
    padding: 0 10px 0 10px;
    background-color: var(--main-container-color);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.question_content {
    text-align: center;
    font-size: 20px;
    transition: opacity 0.1s ease, transform 0.5s ease;;
}

.assert, .fail {
    text-align: center;
    font-size: 28px;
    opacity: 1;
    transition: opacity 0.1s ease, transform 0.5s ease;
}

.question-container {
    background-color: var(--main-container-color);
    background: initial;
}

.assert-container {
    background: linear-gradient(135deg, #2c7f2f, #80ff84, #cbffce);
}

.fail-container {
    background: linear-gradient(135deg, #cc2f2a, #fe8686, #ffadad);
}

.none_question, .none_answer {
    position: absolute;
    text-align: center;
    opacity: 0;
    transition: opacity 0.1s ease;
    transform: translateY(-10px);
}

.none_question {
    text-align: center;
    font-size: 20px;
}

.none_answer {
    text-align: center;
    font-size: 28px;
}
