

.difficulty-selector {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}


.difficulty-selector_container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 70%;
}