

.difficulty-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.difficulty-selector_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 86%;
    max-width: 400px;
    height: 160vw;
    background-color: var(--main-container-color);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.difficulty-selector_options {
    display: grid;
    gap: 20px;
    place-items: center;
    width: 90%;
    max-width: 400px;
    height: 70%;
    padding: 10px;
    border-radius: 16px;
    background-color: var(--main-button-color);
}

@media screen and (min-width: 768px) { 
    .difficulty-selector_container {
        width: 100%;
        height: 100%;
        border-radius: initial;
    }
}
