

.question-container {
    display: grid;
    place-items: center;
    width: 90%;
    height: 70%;
    background-color: #FFF;
}

.question-container .question_content {
    text-align: center;
}

.question_content_invisible, .answer_content_invisible {
    display: none;
}
