

.question-container {
    display: grid;
    place-items: center;
    width: 90%;
    height: 90%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}

.question_content {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
}

.answer_content {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.active {
  opacity: 1;
}
