

.difficulty-button_container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: none;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15), 0 12px 24px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.difficulty-button_container button {
    border: none;
    font-size: 22px;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: inherit;
    cursor: pointer;
}

.difficulty-button_container:hover {
    transform: translateY(-4px);
    background: var(--translade);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.difficulty-button_container:active {
    transform: translateY(1px);
}
