

.difficulty-button_container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: none;
}

.difficulty-button_container button {
    border: none;
    background-color: none;
    font-size: 28px;
    width: 100%;
    height: 100%;
}

.difficulty-button_container:hover {
    background-color: inherit;
}

.difficulty-button_container button:hover {
    background-color: inherit;
}