

.win-game {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.win-game_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 520px;
    height: 100vh;
}

.win-game_container a {
    font-size: 24px;
    text-decoration: none;
}