

.win-game {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(135deg, #2c7f2f, #80ff84, #cbffce);
}

.win-game_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background-color: #FFF;
}

.win-title_container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 120px;
    background: linear-gradient(135deg, #2c7f2f, #80ff84, #cbffce);
}

.win-game_container h2 {
    font-size: 28px;
}

@media screen and (max-width: 768px) {
    
    .win-game_container {
        background: linear-gradient(135deg, #55b558, #75ff79, #baffbd);
    }

    .win-title_container {
        background: initial;
    }
}