

.loader {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

.loader .loader-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background-color: var(--main-container-color);
    opacity: 0.8;
}

.loader-container .loader-container_content {
    align-self: center;
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top-color: var(--translade); 
    border-radius: 50%;
    animation: spin 1s linear infinite;}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loader-container p {
    font-size: 24px;
}

