

.count-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 70%;
    background-color: #FFF;
}


.count-container p {
    text-align: center;
}