

.count-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 70%;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}


.count-container p {
    text-align: center;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (min-width: 768px){
    .count-container {
        background: linear-gradient(135deg, #176fc8, #1E90FF, #87CEFA);

    }
    
}