

.end-game {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.end-game_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 400px;
    background-color: var(--main-container-color);
}

.end-game_container div {
    display: grid;
    place-items: center;
    width: 90%;
    height: 120px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15), 0 12px 24px rgba(0,0,0,0.1);
}

.end-game_container .end-game_container--title {
    background: initial
}

.end-game_container .end-game_container--correct {
    background: var(--win);
}

.end-game_container .end-game_container--fail {
    background: var(--fail);
}

.end-game_container--title h2 {
    padding: 0 10px 0 10px;
    font-size: 24px;
    text-align: center;
}

.end-game_container p {
    font-size: 22px;
    text-align: center;
}


@media screen and (max-width: 768px) {

    .end-game_container {
        width: 90%;
        height: 90%;
        border-radius: 10px;
    }

    .end-game_container div {
        width: 90%;
        height: 100px;
    }

    .end-game_container--title h2 {
        padding: initial;
    }

    .end-text_container {
        background: initial;
    }
}