



.count-win-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 70%;
    background-color: var(--main-container-color);;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
}


.count-win-container .count-win-container_title {
    width: 70%;
    text-align: center;
    font-size: 20px;
}

.count-win-container .count-win-container_total {
    width: 30%;
    text-align: center;
    font-size: 20px;
}