

.question-game {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.question-game_container {
    display: grid;
    place-items: center;
    grid-template-rows: 20% 80%;
    margin: 0 auto;
    width: 86%;
    max-width: 400px;
    height: 160vw;
    max-height: 100vh;
    background:#FFF;
    border-radius: 10px;
}

.counter-question_container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
}

.counter-win_container {
    display: none;
}

.game-form_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px){
    .question-game_container {
        display: flex;
        position: relative;
        height: 100%;
        border-radius: initial;
    }
    .counter-question_container {
        position: absolute;
        width: 94%;
        height: 10%;
        top: 20px;
        left: 420px;
    }
    .counter-win_container {
        display: block;
        position: absolute;
        width: 94%;
        height: 10%;
        top: 28px;
        right: 400px;
    }
}