:root {
  --preguntados-gradient: linear-gradient(
        135deg, 
        #4CAF50,   
        #2196F3,   
        #F44336,   
        #FFD700,   
        #9C27B0,   
        #FF9800    
    );
}

* {
  font-family: "Inter", "sans-serif";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--preguntados-gradient)
}
