:root {
  --preguntados-gradient: linear-gradient(
        135deg, 
        #4CAF50,   
        #2196F3,   
        #F44336,   
        #FFD700,   
        #9C27B0,   
        #FF9800    
    );
  --fail: linear-gradient(135deg, #cc2f2a, #fe8686, #ffadad);
  --win: linear-gradient(135deg, #2c7f2f, #80ff84, #cbffce);
  --translade: linear-gradient(135deg, #FFD700, #FFB84D, #FFF1B0);
  --main-container-color: #FFF;
  --main-button-color: #FFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--preguntados-gradient)
}
