

.option-list_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 80%;
    border-radius: 10px;
}

.option-list_container button {
    width: 100%;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border-style: none;
    background-color: #fefefe;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15), 0 12px 24px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.option-list_container button:hover {
    cursor: pointer;
    background: linear-gradient(135deg, #FFD700, #FFB84D, #FFF1B0);
    transform: translateY(-4px);
}

.option-list_container button:active {
    transform: translateY(2px);
}

@media screen and (min-width: 768px) {
    .option-list_container button {
        height: 80px;
    }

}