

.option-list_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    height: 70%;
}

.option-list_container button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-style: none;
    background-color: #FFF;
}