

.question-game_container {
    display: grid;
    place-items: center;
    grid-template-rows: 20% 30% 50%;
    margin: 0 auto;
    width: 100vw;
    max-width: 520px;
    height: 100vh;
    background-color: #FFa;
}