

.question-game_container {
    display: grid;
    place-items: center;
    grid-template-rows: 20% 30% 50%;
    margin: 0 auto;
    width: 100vw;
    max-width: 420px;
    height: 100vh;
    background: linear-gradient(to left, #FD2, #FDa5);
    background-color: #FFa;
}